<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1> Updating Author </h1>

    <%= authorInfo[0].firstName %>  <br>
    <%= authorInfo[0].lastName %>  <br>
    <%= authorInfo[0].dob %>  <br>
    <%= authorInfo[0].sex %> <br>



    <form action="/updateAuthor" method="POST">

        First Name: 
        <input type="text" name="firstName" value="<%= authorInfo[0].firstName %>"> <br>
        Last Name: 
        <input type="text" name="lastName" value="<%= authorInfo[0].lastName %>"> <br>
        Date of Birth:  <input type="date" name="dob" value="<%= authorInfo[0].ISOdob %>"> <br>
        Biography: <textarea name="bio"></textarea> <br>

        <button> Update Author! </button>

    </form>


</body>
</html>