<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1> Updating Author </h1>

    <form action="/updateAuthor" method="POST">
        <input type="hidden" name="authorId" value="<%= authorInfo[0].authorId %>">
        First Name: 
        <input type="text" name="firstName" value="<%= authorInfo[0].firstName %>"> <br>
        Last Name: 
        <input type="text" name="lastName" value="<%= authorInfo[0].lastName %>"> <br>
        Date of Birth:  <input type="date" name="dob" value="<%= authorInfo[0].ISOdob %>"> <br>
        Sex:
        <label><input type="radio" 
            <% if (authorInfo[0].sex == 'F') { %>
             checked 
            <% } %>
            value="F" name="sex"> F </label>
        <label><input type="radio" 
           
            <%=(authorInfo[0].sex == 'M')?"checked":""%> 
            
            value="M" name="sex"> M </label> <br>

        Biography: <textarea name="bio"></textarea> <br>

        <button> Update Author! </button>

    </form>


</body>
</html>